<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<script type="text/javascript">
  window.like = "<%= image_url('favorite.png')%>";
  window.favorite = "<%= image_url('hearts.png') %>";
  window.phones = "<%= image_url('38825c9d5aa2.png') %>";
  window.screenShot1 = "<%= image_url('2d9d7248af43.jpg') %>";
  window.camera = "<%= image_url('photo-camera.png') %>";
  window.profileButton = "<%= image_url('social.png') %>";
</script>
<title>Quickstagram</title>
<main id="content">

</main>
