<!DOCTYPE html>
<html>
<head>

  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <script type="text/javascript">
    <% if logged_in? %>
      window.currentUser = <%= render(
        "api/users/current_user.json.jbuilder",
        user: current_user
      ).html_safe %>
    <% else %>
      window.currentUser = null
    <% end %>
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
